# Bullpen Management EDA Notebook
Purposeful EDA demo.

In [5]:
import pandas as pd

df=pd.read_csv('sample_statcast_like.csv') 
df.head()

,game_date,team,opponent,pitcher_id,pitcher_hand,batter_hand,rest_days,last_outing_pitches,platoon_advantage,leverage_index,score_diff,scoreless,runs_allowed
0,2023-07-10,ATL,HOU,P015,L,R,2,18,0,1.07,2,0,0
1,2023-03-31,ATL,NYY,P001,R,R,3,24,1,0.42,5,0,0
2,2023-10-03,HOU,BOS,P012,R,R,2,36,1,0.31,-2,0,0
3,2023-04-07,NYY,HOU,P002,R,R,2,7,1,1.62,-5,1,0
4,2023-07-11,ATL,NYY,P006,R,R,0,17,1,1.42,2,0,2

## Rest vs Scoreless Rate

In [6]:
df.groupby('rest_days')['scoreless'].mean()

rest_days
0    0.316176
1    0.341085
2    0.376812
3    0.257732
Name: scoreless, dtype: float64

## Platoon Advantage vs Scoreless Rate

In [7]:
df.groupby('platoon_advantage')['scoreless'].mean()

platoon_advantage
0    0.272300
1    0.369338
Name: scoreless, dtype: float64